.form {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.form__input {
  background-color: #ebecf0;
  min-height: 30px;
  margin-top: 15px;
  min-width: 300px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  box-shadow: 0 1px 0 #091e4240;
}

.form__input:focus {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  outline: none;
}

.form__button {
  position: absolute;
  top: 17px;
  left: 252px;
  width: 50px;
  height: 28px;
  border-radius: 3px;
  right: 0px;
  border: none;
  font-size: 14px;
  background-color: #026aa7;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 2px black;
}

.form__button:hover {
  background-color: #343434;
}

.form__button:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
